# Core dependencies
flask==3.0.3
flask-cors==5.0.0
flask-sqlalchemy==3.1.1
flask-bcrypt==1.0.1
flask-jwt-extended==4.7.1
waitress==2.1.2
pydantic==2.10.3

# Azure dependencies
azure-storage-blob==12.23.1
azure-data-tables==12.1.0
azure-identity==1.10.0
python-multipart==0.0.9

# Transformer dependencies
transformers==4.44.2
sentence-transformers==3.1.0
tokenizers==0.13.3

# Data processing - specify exact numpy version
numpy==1.26.4
pandas==2.2.3
nltk==3.9.1
scikit-learn==1.5.2

# LangChain dependencies
langchain==0.3.3
langchain-community==0.3.2
langchain-core==0.3.19
langchain-groq==0.2.0
langchain-huggingface==0.1.0
langchain-pinecone==0.2.0
langgraph==0.2.38
pinecone-client==5.0.1